<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leo.notes"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="20" />

    <!-- 访问网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取WI-FI状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 写入外部存储 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 在sdcard中创建/删除文件的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 查阅敏感日志数据 -->
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.leo.notes.view.WelcomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.leo.notes.view.MainFragmentActivity" >
        </activity>
        <activity android:name="com.leo.notes.view.NotesListActivity" >
        </activity>
        <activity android:name="com.leo.notes.view.LoginPwdActivity" >
        </activity>
        <activity android:name="com.leo.notes.view.SetpwdActivity" >
        </activity>
        <activity android:name="com.leo.notes.view.AboutMeActivity" >
        </activity>
        <activity android:name="com.leo.notes.view.FeedbackActivity" >
        </activity>
        <activity android:name="com.leo.notes.view.NotesInfoActivity" >
        </activity>
        <activity android:name="com.leo.notes.view.NotesAddAndEditActivity" >
        </activity>
        <activity android:name="com.leo.notes.view.RegistActivity" >
        </activity>
        <activity android:name="com.leo.notes.view.LoginActivity" >
        </activity>
        <activity android:name="com.leo.notes.view.EditPersonalActivity" >
        </activity>
    </application>

</manifest>